<form [formGroup]="form">
    <div>
        <label for="round-count">Number of Rounds: </label>
        <select formControlName="roundCount">
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
    </div>
    <br>
    <div>
        <label for="team-count">Number of Teams: </label>
        <select formControlName="teamCount">
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>
    </div>
    <button type="button" (click)="onBuildList()">Calculate</button>
    <div *ngIf="calculate">
        <div *ngFor="let team of teamCountArray; let i = index">
            <label>Pick #{{i + 1}}: </label>
            <input id="team-{{i + 1}}" type="text" placeholder="team{{i + 1}}">
        </div>
        <button type="submit" (click)="createDraft()">Start Draft</button>
    </div>
</form>
