<form [formGroup]="form">
    <select formControlName="team" (change)="getTeamIndex()">
        <option *ngFor="let team of getTeamList()" value="{{team.name}}">{{team.name}}</option>
    </select>
</form>
<p>QB: {{draftBoardService.teamDetails[index].qbList?.length ?? 0}}/2</p>
<p>RB: {{draftBoardService.teamDetails[index].rbList?.length ?? 0}}/6</p>
<p>WR: {{draftBoardService.teamDetails[index].wrList?.length ?? 0}}/6</p>
<p>TE: {{draftBoardService.teamDetails[index].teList?.length ?? 0}}/2</p>
<p>DST: {{draftBoardService.teamDetails[index].dstList?.length ?? 0}}/1</p>
<p>K: {{draftBoardService.teamDetails[index].kList?.length ?? 0}}/1</p>


