<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.qbList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.rbList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.wrList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.teList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.dstList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <td>Player</td>
            <td>Position</td>
            <td>VOR</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of draft.kList">
            <td>{{row.name}}</td>
            <td>{{row.position}}</td>
            <td>{{row.vor}}</td>
        </tr>
    </tbody>
</table>