h1 {
    font-family:Arial, Helvetica, sans-serif;
}

#on-the-clock {
    text-align: center;
}

.container button {
    display: flex;
    align-items: center;
}

.green-background {
    background-color: green;
}

.row {
    margin-bottom: 10px;
}

.col-1 {
    margin-top: auto;
    margin-bottom: auto;
}